# Ignore virtual environments
venv/
ENV/
env/

# Python cache files
__pycache__/
*.pyc

# SQLite DB file (optional – keep if needed)
db.sqlite3

# VS Code settings
.vscode/


# Logs and system files
*.log
*.DS_Store
